body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ff0000;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 3rem;
    color: #4caf50;
    text-shadow: 
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 
    1px 1px 0 #ffffff; 
  }
  
  #countdown {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #4caf50;
    text-shadow: 
    -0.5px -0.5px 0 #ffffff,
    0.5px -0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff, 
    0.5px 0.5px 0 #ffffff; 
  }
  
  .calendar-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ff0000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .calendar div {
    background-color: #e1e1e1;
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    border: 1px solid #ffffff;
  }
  
  .calendar div:hover {
    background-color: #d95c5c;
    color: #fff;
  }
  
  .calendar div.open {
    background-color: #4caf50;
    color: #fff;
  }
  
  .calendar div.closed {
    background-color: #e1e1e1;
  }
  
  .calendar div span {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.7rem;
    color: #fff;
  }
  
  .calendar div.christmas-day {
    background-color: #fa0e0e;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
  .snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
  }
  
  .snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
  }
  
  @keyframes fall {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    10% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
      transform: translateY(100vh);
    }
  }
  
  @keyframes diagonal-fall {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    10% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
      transform: translate(10vw, 100vh);
    }
  }
  